{% extends "layout.html" %}

{% block content %}

<h2>{{ TRAVEL }}.</h2>
<h3>{{ TRAVEL }}</h3>

<table border="1">
    <tr>
        <td><img src="https://media-cdn.tripadvisor.com/media/photo-s/12/c6/25/c5/sheraton-maldives-full.jpg" width="300" height="200" /></td>
        <td><img src="https://images.theconversation.com/files/291200/original/file-20190906-175678-wu53q2.jpg?ixlib=rb-1.1.0&rect=132%2C117%2C4772%2C3139&q=45&auto=format&w=496&fit=clip" width="300" height="200"</td>
        <td><img src="https://media.cntraveler.com/photos/5cf96a9dd9fb41f17ed08435/master/pass/Eiffel%20Tower_GettyImages-1005348968.jpg" width="300" height="200" /></td>"
    </tr>
    <tr>
        <td>Maldives</td>
        <td>New Zealand</td>
        <td>France</td>"
    </tr>
    <tr>
        <td><img src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg" width="300" height="200" /></td>
        <td><img src="https://www.brightwaterholidays.com/media/4070/gardens-costa-rica-arenal-volcano-in-costa-rica-hero.jpg" width="300" height="200" /></td>
        <td><img src="https://rccl-h.assetsadobe.com/is/image/content/dam/royal/ports-and-destinations/destinations/norway/aurora-borealis-activity-norway.jpg?$750x667$" width="300" height="200" /></td>
    </tr>
    <tr>
        <td>New York</td>
        <td>Costa Rica</td>
        <td>Norway</td>
    </tr>

</table>

{% endblock %}